.single-picture-container {
  height: 100%;
  width: 100%;
  background-color: red;
}

.single-picture-item {
  .vertical-horizontal-center;

  position: relative;
  font-size: 0;
  max-width: 800px;
}

.single-picture-item img, .picture, .single-picture-item.loading {
  position: relative;
  display: block;
  width: 100%;
}

.picture-title {
  position: relative;
  height: 1em;
  margin-bottom: -1em;
}
