.grid {
  width: 100%;
  float: left;
  margin-bottom: 0;
  background-color: @main-bg-color;
  .column-count(auto, 20em, 0);
  overflow-y: visible;
}

.item {
  position: relative;
  font-size: 0;
  max-width: 500px;

  padding-top: 5px;
}

.item img, .picture, .item.loading {
  position: relative;
  display: block;
  width: 100%;
}

.item a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.loading {
  background: @main-highlight-background-color url(@loading-picture-image) no-repeat center center;
}

.load-more-container {
  width: 100%;
  background-color: @main-bg-color;
  text-align: center;
}

.load-more a {
  display: block;
  padding: 1em 0;
  background-color: @main-highlight-background-color;
  cursor: pointer;
}

.pictures-area, .pictures-container{
  height: 100%;
  width: 100%;
}

.no-pictures-container {
  .vertical-center;

  text-align: center;
}

.message {
  position: relative;
  display: block;
  margin: 0 auto;
}

.single-picture {
  max-width: 800px;
  position: relative;
  display: block;
  width: 100%;
}

.single-picture-title {
  position: relative;
  height: 1em;
  margin-bottom: -1em;

}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {

  .load-more a:hover {
    background-color: @nav-bg-highlight-color
    /*color: @nav-font-highlight-color;*/
  }

  .item {
    padding-left: 5px;
  }
}
